/* 
gold:#FFD801;
purple:#4b006b;
 */

html, body{
    background-color: #b5d99c;
}
 #HeaderBox {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 1%;
    right: 1%;
    visibility: visible;
    container-type: inline-size;
    z-index: 1;
}
#HeaderBox h1{
    background-color: #ffff82;
    margin-top: 0;
    margin-bottom: 0;
    border: transparent;
    right: 20px;
    font-size: 100px;
    text-indent: 40px;
    color: #0f0326;
    
}
.post{
    container-type: inline-size;
}
.post #BackgroundRectangle{
    background-color: beige;
    height: 205px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 0;
}
#HeaderTriangle {
    background-image: linear-gradient(to top left, transparent 50%, #ffff82 50%);
    height: 100px;
    width: 100%;
    margin-top: 0;
    border: transparent;
}

@container (max-width: 850px) {
    #HeaderBox h1{
        font-size: 80px;
    }
    #HeaderTriangle{
        height:80px
    }
}
@container (max-width: 840px) {
    .post #BackgroundRectangle{
        height: 155px;
    }
} 
@container (max-width: 700px) {
    #HeaderBox h1{
        font-size: 65px;
        text-indent: 30px;
    }
    #HeaderTriangle{
        height:70px
    }
} 
@container (max-width: 690px) {
    .post #BackgroundRectangle{
        height: 130px;
    }
} 
@container (max-width: 550px) {
    #HeaderBox h1{
        font-size: 50px;
    }
    #HeaderTriangle{
        height:60px
    }
}
@container (max-width: 540px) {
    .post #BackgroundRectangle{
        height: 110px;
    }
} 
@container (max-width: 400px) {
    #HeaderBox h1{
        font-size: 40px;
        text-indent: 20px;
    } 
    #HeaderTriangle{
        height:50px
    }
} 
@container (max-width: 390px) {
    .post #BackgroundRectangle{
        height: 85px;
    }
} 
@container (max-width: 350px) {
    #HeaderBox h1{
        font-size: 30px;
    } 
    #HeaderTriangle{
        height:40px
    }  
}  
@container (max-width: 340px) {
    .post #BackgroundRectangle{
        height: 60px;
    }
} 


.Body{
    margin-left: 10%;
    margin-right: 10%;
}
#content{
    background-color: beige;
    
}
#table{
    margin:auto;
    color: #0f0326;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
}
