

html, body{
    background-image: url(JPG/IMG_0834.jpg);
    background-size:auto;
    background-position: fixed;
    background-repeat: repeat;
    background-attachment: scroll;
    animation: animBackground 200s linear infinite;
    -moz-animation: animBackground 200s linear infinite;
    -webkit-animation: animBackground 200s linear infinite;
    margin:0;
    padding:0;
}
@keyframes animBackground {
    from {background-position-x:0px;}
    to {background-position-x: -2000px;}
}
 #HeaderBox {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 1%;
    right: 1%;
    visibility: visible;
    container-type: inline-size;
    container-name: HeaderBox;
    z-index: 1;
    
    
}
#HeaderBox h1{
    
    /* background-image: linear-gradient(to right, #650015 0, #650015 50%,#000080 100%); */
    background-color: #000000;
    opacity: 90%;
    margin-top: 0;
    margin-bottom: 0;
    border: transparent;
    right: 20px;
    font-size: 100px;
    text-indent: 40px;
    color: #f6e27a;
    
}
.post{
    container-type: inline-size;
    container-name: Post;
}
.post #BackgroundRectangle{
    
    height: 235px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 0;
}
#HeaderTriangle {
    /* background-image: linear-gradient(to top left, transparent 50%, #462523 0, #cb9b51 68%, #f6e27a 72.5%, #f6f2c0 75%, #f6e27a 77.5%, #cb9b51 89%, #cb9b51 100%); */
    background-image: linear-gradient(to top left, transparent 50%, #f6f2c0 0, #f6e27a 52.5%, #cb9b51 55%, #650015 56%, #650015 100%);
    height: 66px;
    width: 100%;
    margin-top: 0;
    border: transparent;
}
#HeaderBox2 {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 1%;
    right: 1%;
    visibility: visible;
    container-type: inline-size;
    container-name: HeaderBox2;
    z-index: 1;
}
#HeaderBox2 h1{
    margin-top: 0;
    margin-bottom: 0;
    border: transparent;
    right: 20px;
    font-size: 100px;
    text-indent: 40px;
    color: #FFFDD0;
}
.post #HotBarBackground{
    background-image: linear-gradient(to right, #650015 0, #650015 100%);
    height: 50px;
}
/* .post #HotBar{
    margin-top: 10px;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #0000FF;
    height: 30px;
} */
#HeaderBlueSpacer{
    background-image: linear-gradient(to right, #650015 0, #650015 100%);
    height: 10px;
    z-index: 0;   
}
#HeaderBlueTop{
    background-image: linear-gradient(to bottom, #cb9b51 0, #f6e27a 25%, #f6f2c0 50%,#f6e27a 75%,#cb9b51 100%);
    height: 7.5px;
    z-index: 0;   
}
#HeaderTriangle2 {
    background-image: linear-gradient(to top right, transparent 50%, #f6f2c0 0, #f6e27a 52.5%, #cb9b51 55%, #000080 56%, #000080 100%);
    height: 53px;
    width: 100%;
    margin-top: 0px;
    border: transparent;
}
#HeaderBox3 {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 1%;
    right: 1%;
    visibility: visible;
    container-type: inline-size;
    container-name: HeaderBox3;
    z-index: 3;
}
.post #HeaderSide{
    background-image: linear-gradient(to right,#cb9b51 0, #f6e27a 25%, #f6f2c0 50%, #f6e27a 25%, #cb9b51 100%);
    height: 280px;
    width: 1%;
}
.post #HeaderSideBottom{
    background-image: linear-gradient(to right,#cb9b51 0, #f6e27a 25%, #f6f2c0 50%, #f6e27a 25%, #cb9b51 100%);
    height: 10px;
    width: 1%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    /* border: 1px solid gray; */
    border-top: 0;
    
}
#HeaderBox4 {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 98%;
    right: 1%;
    visibility: visible;
    container-type: inline-size;
    container-name: HeaderBox3;
    z-index: 3;
}
.post2{
    container-type: inline-size;
    container-name: Post;
}
.post2 #HeaderSide{
    background-image: linear-gradient(to right,#cb9b51 0, #f6e27a 25%, #f6f2c0 50%, #f6e27a 25%, #cb9b51 100%);
    height: 280px;
    width: 100%;
}
.post2 #HeaderSideBottom{
    background-image: linear-gradient(to right,#cb9b51 0, #f6e27a 25%, #f6f2c0 50%, #f6e27a 25%, #cb9b51 100%);
    height: 10px;
    width: 100%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    /* border: 1px solid gray; */
    border-top: 0;
    
}






.Body{
    margin-left: 10%;
    margin-right: 10%;
}
#content{
    background-image: url(JPG/IMG_0994.jpg);
    
}
#table{
    margin:auto;
    color: #0f0326;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    margin-top: 0;
    margin-bottom: 10 px;
}
p{
    color: #fffdd0;
    background-color: #650015;
    border: 5px #650015;
    padding:8px;
}
.Body h1{
    background-image: linear-gradient(to bottom,#cb9b51 0, #f6e27a 25%, #f6f2c0 50%, #f6e27a 25%, #cb9b51 100%);
    color: black;
}
#table h3{
    color: #fffdd0;
    background-color: #000080;
    border: 5px #650015;
    padding:8px;
}
#CenteredImage {
    text-align: center;
}